*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:#111827;
color:white;
min-height:100vh;
}

header{
text-align:center;
padding:25px;
background:#ff5a1f;
}

header h1{
font-size:2rem;
font-weight:700;
}

header p{
opacity:.9;
}

.dashboard{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:15px;
padding:20px;
}

.stat-card{
background:#1f2937;
padding:20px;
border-radius:18px;
text-align:center;
box-shadow:0 10px 25px rgba(0,0,0,.3);
}

.stat-card h2{
margin-top:10px;
font-size:2rem;
color:#ff5a1f;
}

.controls{
display:flex;
justify-content:center;
gap:15px;
padding:10px 20px 20px;
flex-wrap:wrap;
}

button{
border:none;
padding:14px 25px;
border-radius:12px;
font-size:1rem;
cursor:pointer;
transition:.3s;
font-weight:600;
}

#startBtn{
background:#22c55e;
color:white;
}

#stopBtn{
background:#ef4444;
color:white;
}

#saveBtn{
background:#ff5a1f;
color:white;
}

button:hover{
transform:translateY(-2px);
}

.map-section{
padding:20px;
}

#map{
height:400px;
border-radius:20px;
overflow:hidden;
}

.history{
padding:20px;
}

.history h2{
margin-bottom:15px;
}

.run-card{
background:#1f2937;
padding:15px;
border-radius:15px;
margin-bottom:12px;
border-left:5px solid #ff5a1f;
}

.run-card strong{
color:#ff5a1f;
}

@media(max-width:768px){

.dashboard{
grid-template-columns:1fr;
}

#map{
height:300px;
}

}